@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

:root {
    --primary-color: #00a3d4;
    --secondary-color: #73dfff;
    --black: #000000;
    --white: #ffffff;
    --off-white: #f2f2f2;
    --border: #0c0a0415;
}

@theme {
    --breakpoint-xs: 30rem;
}

html {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    color: var(--black);
    overflow-x: hidden;
}

h1 {
    font-size: 4.5rem;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1px;
}

h2 {
    font-size: 3.25rem;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1px;
}

p {
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
}

h3,
label {
    font-size: 1rem;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    line-height: 150%;
}

h4 {
    font-size: 2.25rem;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -1px;
}

button p {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

nav {
    width: 100vw;
    padding: 20px 64px;
    background-color: var(--off-white);
}
.nav-item {
    font-size: 1rem;
}

footer {
    width: 100vw;
    padding: 80px 64px;
    background-color: var(--primary-color);
    color: var(--white);
}
.footer-rights-wrapper {
    max-width: 1280px;
    border-top: solid 1px var(--border);
    padding-top: 34px;
}

.footer-rights-wrapper p {
    font-size: 0.875rem;
}

.footer-rights-wrapper a {
    text-decoration: underline;
}

.container {
    max-width: 1440px;
    padding: 112px 64px;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
}
.title-wrapper {
    text-align: center;
}
.about-wrapper {
    max-width: 720px;
}

.faq-wrapper {
    max-width: 768px;
}
.cardboard-wrapper {
    max-width: 1024px;
}
.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-gradient-blue {
    background: linear-gradient(135deg, #73dfff, #00a3d4);
}

.shadow {
    box-shadow: 3px 6px 10px 0 rgba(196, 196, 196, 0.25);
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.faq-accordion {
    border: solid 1px var(--border);
    border-radius: 8px;
}

.faq-accordion:hover .faq-icon {
    transform: rotate(90deg);
}

.answer-wrapper {
    height: 0;
    overflow: hidden;
    opacity: 0;
    padding-left: 24px;
    padding-right: 24px;
}

.certificates-wrapper h4 {
    font-size: 1.5rem;
}

.rfm-marquee {
    gap: 32px 0px !important;
}

form.contact {
    font-family: "Sora", sans-serif;
}

form.contact input,
form.contact select,
form.contact textarea {
    border: solid 1px black;
    border-radius: 8px;
}

form.contact input::placeholder {
    color: #6a7282;
}

form.contact select {
    appearance: none; /* Disable the default arrow */
    -webkit-appearance: none; /* For WebKit-based browsers */
    -moz-appearance: none; /* For Firefox */
    width: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    cursor: pointer;
}

form.contact textarea {
    resize: none;
}
@media (width <= 1023px) {
    h1 {
        font-size: 2.5rem;
        letter-spacing: 0px;
    }

    h2 {
        font-size: 2.25rem;
        letter-spacing: 0px;
    }

    p {
        font-size: 1rem;
    }

    h4 {
        font-size: 2rem;
        line-height: 130%;
        letter-spacing: 0px;
    }
    .container {
        padding: 64px 24px;
        max-width: 768px;
    }
    nav {
        padding: 20px 24px;
    }
    footer {
        padding: 64px 24px;
    }
}

@media (width <= 767px) {
    .cardboard-wrapper {
        max-width: 450px;
    }
}
